[workspace]
authors = ["mhyatt000 <mhyatt000@brad.adms.luc.edu>"]
channels = ["robostack-staging", 'robostack', "conda-forge"]
name = "ws"
platforms = [
"linux-64", 
]
version = "0.1.0"

[environments]
default = { features = ["default"]}

[activation.env]
MYVAR = "enabled"

[activation]
scripts = [".pixi.sh"]

# https://pixi.sh/latest/workspace/multi_environment/#real-world-example-use-cases

[tasks]
rqt = {cmd = "ros2 run rqt_image_view rqt_image_view", inputs = ["src"]}
build = {cmd = "cd $PIXI_PROJECT_ROOT && colcon build --symlink-install", inputs = ["src"]}
turtle = {cmd =  "ros2 run turtlesim turtlesim_node", inputs = ["src"]}
xmove = {cmd = "ros2 launch xarm_moveit_config xarm6_moveit_fake.launch.py", inputs = ["src"]}
performance = {cmd = "bash -lc 'echo performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'"}
xservo = {cmd = "ros2 launch xarm_moveit_servo xarm_moveit_servo_realmove.launch.py dof:=7 robot_ip:=192.168.1.231 add_gripper:=true report_type:=dev", inputs = ["src"]}

init = "bash -c 'mkdir -p $PIXI_PROJECT_ROOT/src'"
import = "bash -c 'mkdir -p $PIXI_PROJECT_ROOT/src && vcs import $PIXI_PROJECT_ROOT/src < ${REPOS_FILE:-$PIXI_PROJECT_ROOT/ws.repos}'"
pull = "bash -c 'vcs pull $PIXI_PROJECT_ROOT/src'"
export = "bash -c 'vcs export $PIXI_PROJECT_ROOT/src > ${OUT_FILE:-$PIXI_PROJECT_ROOT/ws.repos}'"
pin = "bash -c 'vcs export --exact $PIXI_PROJECT_ROOT/src > ${OUT_FILE:-$PIXI_PROJECT_ROOT/ws.pinned.repos}'"
status = "bash -c 'vcs status $PIXI_PROJECT_ROOT/src'"
diff = "bash -c 'vcs diff $PIXI_PROJECT_ROOT/src'"
clean = "bash -c 'cd $PIXI_PROJECT_ROOT && rm -rf build install log'"
clean_xnodes = "bash -c 'cd $PIXI_PROJECT_ROOT && rm -rf build/xnodes install/xnodes'"

setup = "bash -lc 'cd $PIXI_PROJECT_ROOT && source install/setup.bash'"
[tasks.xtest]
cmd = [
    "pytest",
    "tests",
]
cwd = "src/xnodes"
depends-on = [ "build_xnodes", "setup", ]

[tasks.xlaunch]
cmd = "ros2 launch"
depends-on = [ "build_xnodes", "setup", ]



[tasks.build_xnodes]
cmd = "bash -lc 'cd $PIXI_PROJECT_ROOT && colcon build --packages-select xnodes'"
depends-on = ["clean_xnodes"]

[tasks.init_xarm]
cmd = "git submodule update --init --recursive && git pull --recurse-submodules"
inputs = ["src/xarm_ros2"]
cwd = "src/xarm_ros2"
env = { ARGUMENT = "hello" }

[tasks.build_xarm]
cmd = "bash -lc 'colcon build --base-paths $PIXI_PROJECT_ROOT/src/xarm_ros2 --cmake-clean-cache --cmake-args -DCMAKE_EXE_LINKER_FLAGS=-L$CONDA_PREFIX/lib -DCMAKE_SHARED_LINKER_FLAGS=-L$CONDA_PREFIX/lib -DCMAKE_MODULE_LINKER_FLAGS=-L$CONDA_PREFIX/lib'"
depends-on = ["init_xarm"]

# ==========
# default
# ==========

[pypi-dependencies]
tyro = "*"
rich = "*"
vcstool = "*"
pupil-apriltags =  "*" 
pydantic = "*"
scipy = ">=1.16.3, <2"
webpolicy = { git = "https://github.com/mhyatt000/webpolicy.git", rev = "master" }

[dependencies]
python = "3.11.*"
pip = "*"

# Core ROS
ros-humble-desktop = ">=0.10.0,<0.11"   # includes rviz2, tf2, rosbag2, etc.
ros-humble-rmw-cyclonedds-cpp = "*"     # rmw backend
ros-humble-cyclonedds = "*"

# xArm + control stack
ros-humble-ros2-control = "*"
ros-humble-ros2-controllers = "*"
ros-humble-controller-interface = "*"

# Needed by xarm_ros2
ros-humble-joint-state-publisher = "*"
ros-humble-xacro = "*"
ros-humble-moveit-msgs = "*"            # xArm packages depend on this, even without MoveIt
ros-humble-moveit = "*"
ros-humble-apriltag-msgs = "*"          # only if your workspace references them
ros-humble-gazebo-ros-pkgs = "*"
gazebo = "*"

# Utilities
colcon-common-extensions = "*"
pkg-config = "*"
cmake = ">=3.22,<4"
ninja = "*"

# Python libs
numpy = ">=1.26.4,<2"
transforms3d = "*"
ros-humble-usb-cam = ">=0.8.1,<0.9"
