[workspace]
authors = ["mhyatt000 <mhyatt000@brad.adms.luc.edu>"]
channels = ["robostack-staging", "conda-forge"]
name = "ws"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
build = {cmd = "colcon build --symlink-install", inputs = ["src"]}
turtle = "ros2 run turtlesim turtlesim_node"

[dependencies]
ros-humble-desktop = ">=0.10.0,<0.11"
ros-humble-ament-cmake-auto = ">=1.3.12,<2"
compilers = ">=1.11.0,<2"
pkg-config = ">=0.29.2,<0.30"
cmake = ">=4.1.2,<5"
ninja = ">=1.13.1,<2"
colcon-common-extensions = ">=0.3.0,<0.4"
setuptools = "<=58.2.0"
ros-humble-joint-state-publisher = ">=2.4.0,<3"
ros-humble-xacro = ">=2.0.13,<3"
ros-humble-slam-toolbox = ">=2.6.10,<3"
ros-humble-nav2-bringup = ">=1.1.18,<2"
ros-humble-navigation2 = ">=1.1.18,<2"
