[workspace]
authors = ["mhyatt000 <mhyatt000@brad.adms.luc.edu>"]
channels = ["robostack-staging", "conda-forge"]
name = "ws"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
build = {cmd = "colcon build --symlink-install", inputs = ["src"]}
turtle = "ros2 run turtlesim turtlesim_node"

ws_init = "mkdir -p $PIXI_PROJECT_ROOT/src"
ws_import = "mkdir -p $PIXI_PROJECT_ROOT/src && vcs import $PIXI_PROJECT_ROOT/src < ${REPOS_FILE:-$PIXI_PROJECT_ROOT/ws.repos}"
ws_pull = "vcs pull $PIXI_PROJECT_ROOT/src"
ws_export = "vcs export $PIXI_PROJECT_ROOT/src > ${OUT_FILE:-$PIXI_PROJECT_ROOT/ws.repos}"
ws_pin = "vcs export --exact $PIXI_PROJECT_ROOT/src > ${OUT_FILE:-$PIXI_PROJECT_ROOT/ws.pinned.repos}"
ws_status = "vcs status $PIXI_PROJECT_ROOT/src"
ws_diff = "vcs diff $PIXI_PROJECT_ROOT/src"
ws_build = "cd $PIXI_PROJECT_ROOT && colcon build --symlink-install"
ws_clean = "cd $PIXI_PROJECT_ROOT && rm -rf build install log"
ws_env = "cd $PIXI_PROJECT_ROOT && source install/setup.bash && bash"


[dependencies]
ros-humble-desktop = ">=0.10.0,<0.11"
ros-humble-ament-cmake-auto = ">=1.3.12,<2"
compilers = ">=1.11.0,<2"
pkg-config = ">=0.29.2,<0.30"
cmake = ">=4.1.2,<5"
ninja = ">=1.13.1,<2"
colcon-common-extensions = ">=0.3.0,<0.4"
setuptools = "<=58.2.0"
ros-humble-joint-state-publisher = ">=2.4.0,<3"
ros-humble-xacro = ">=2.0.13,<3"
ros-humble-slam-toolbox = ">=2.6.10,<3"
ros-humble-nav2-bringup = ">=1.1.18,<2"
ros-humble-navigation2 = ">=1.1.18,<2"
ros-humble-rmw-cyclonedds-cpp = ">=1.3.4,<2"
